In [1]:
import pandas as pd
import numpy as np
import ast

In [18]:
df = pd.read_csv(r"E:\archivos henry\Data 12\movies_dataset.csv")

## abro el dataset en formato json, sin embargo no encuentro ninguna ventaja 
'''
json_data = df.to_json(orient='records')
with open('movies_dataset.json', 'w') as json_file:
    json_file.write(json_data)
df_json = pd.read_json("movies_dataset.json")
df_json.info()
'''
df

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_22960\3982972181.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"E:\archivos henry\Data 12\movies_dataset.csv")

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

Transformamos la columna genres en listas (diccionario anidado)

In [42]:
def parse_genres(genres_str):
    genres = ast.literal_eval(genres_str)
    return [g['name'] for g in genres]

DF = pd.read_csv("movies_dataset.csv",converters={'genres': parse_genres})

DF.to_csv("movies_dataset_modificado.csv", index=False)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_420\326775285.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  DF = pd.read_csv("movies_dataset.csv",converters={'genres': parse_genres})

Transformando la columna "belong_to..." (diccionario anidado)

In [43]:

df2 = pd.read_csv("movies_dataset_modificado.csv")
df2['belongs_to_collection'] = df2['belongs_to_collection'].astype(str)
'''def parse_belongs_to_collection(belongs_to_collection_str):
    if isinstance(belongs_to_collection_str, float) and math.isnan(belongs_to_collection_str):
        return None
    elif isinstance(belongs_to_collection_str, str):
        belongs_to_collection = json.loads(belongs_to_collection_str)
        return belongs_to_collection.get('name')
    else:
        return None
'''


def parse_belongs_to_collection(belongs_to_collection_str):
    try:
        if pd.isnull(belongs_to_collection_str) or belongs_to_collection_str == "nan":
            return None
        elif isinstance(belongs_to_collection_str, str):
            belongs_to_collection = eval(belongs_to_collection_str)
            if isinstance(belongs_to_collection, dict):
                return belongs_to_collection.get('name')
        return None
    except (SyntaxError, ValueError, TypeError):
        return None

df2['belongs_to_collection'] = df2['belongs_to_collection'].astype(str)
df2['belongs_to_collection'] = df2['belongs_to_collection'].apply(parse_belongs_to_collection)

'''
df2 = pd.read_csv("movies_dataset_modificado.csv",converters={'belongs_to_collection': parse_belongs_to_collection})
'''
#df.to_csv("movies_dataset_modificado.csv",index=False)
#df1 = pd.read_csv("movies_dataset_modificado.csv")
# df = pd.read_csv("movies_dataset.csv")
#df1["belongs_to_collection"]

df2.to_csv("movies_dataset_modificado.csv",index=False)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_420\2523802743.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("movies_dataset_modificado.csv")

Ensayo conversiones de los valores de la columna belongs por los errores que me presenta al intentar tomar los datos. Error "AttributeError: 'float' object has no attribute 'get'"

In [44]:
### Convierto la columna con valores tipo float a str y compruebo el resultado.

'''
df['belongs_to_collection'] = df['belongs_to_collection'].astype(str)
serie = pd.Series(df2["belongs_to_collection"].values)
lista = list(serie)
print(list(serie))
for n in lista:
    print(type(n))
'''

'\ndf[\'belongs_to_collection\'] = df[\'belongs_to_collection\'].astype(str)\nserie = pd.Series(df2["belongs_to_collection"].values)\nlista = list(serie)\nprint(list(serie))\nfor n in lista:\n    print(type(n))\n'

Eliminamos las columnas "video, imdb_id, adult, original_title, poster_path y homepage"

In [45]:
df = pd.read_csv("movies_dataset_modificado.csv")

df = df.drop(columns=["video", "imdb_id", "adult", "original_title", "poster_path", "homepage"])
df.to_csv("movies_dataset_modificado.csv", index=False)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_420\1094942841.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("movies_dataset_modificado.csv")

Transformo la columna production_countries (diccionario anidado)

In [46]:
df3 = pd.read_csv("movies_dataset_modificado.csv")
df3['production_countries'] = df3['production_countries'].astype(str)

def parse_production_countries(production_countries_str):
    try:
        if pd.isnull(production_countries_str) or production_countries_str == "nan":
            return None
        elif isinstance(production_countries_str, str):
            production_countries = ast.literal_eval(production_countries_str)
    
        return [g['name'] for g in production_countries]
    except (SyntaxError, ValueError, TypeError):
        return None


df3 = pd.read_csv("movies_dataset_modificado.csv",converters={'production_countries': parse_production_countries})
df3.to_csv("movies_dataset_modificado.csv", index=False)
'''
serie = pd.Series(df3['production_countries'].values)
lista = list(serie)
print(list(serie))

for n in lista:
    print(type(n))
'''

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_420\918046821.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv("movies_dataset_modificado.csv")
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_420\918046821.py:16: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv("movies_dataset_modificado.csv",converters={'production_countries': parse_production_countries})

"\nserie = pd.Series(df3['production_countries'].values)\nlista = list(serie)\nprint(list(serie))\n\nfor n in lista:\n    print(type(n))\n"

Transformamos la columna prodction_companies (diccionario anidado)

In [47]:
df4 = pd.read_csv("movies_dataset_modificado.csv")

def parse_production_companies(production_companies_str):
    try:
        production_companies = ast.literal_eval(production_companies_str)
    
        return [g['name'] for g in production_companies]
    except (SyntaxError, ValueError, TypeError):
        return None

df4 = pd.read_csv("movies_dataset_modificado.csv",converters={'production_companies': parse_production_companies})    
df4.to_csv("movies_dataset_modificado.csv", index=False)

### Verifico que la conversión sea correcta
'''
df4 = pd.read_csv("movies_dataset_modificado.csv")
df4
'''

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_420\588667705.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv("movies_dataset_modificado.csv")
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_420\588667705.py:11: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv("movies_dataset_modificado.csv",converters={'production_companies': parse_production_companies})

'\ndf4 = pd.read_csv("movies_dataset_modificado.csv")\ndf4\n'

Terminamos con la transformación de la columna spoken languages (diccionario anidado)

In [48]:
df5 = pd.read_csv("movies_dataset_modificado.csv")


def parse_spoken_languages(spoken_languages_str):
    try:
        spoken_languages = ast.literal_eval(spoken_languages_str)
        return [g['name'] for g in spoken_languages]
    except (SyntaxError, ValueError, TypeError):
        return None

df5 = pd.read_csv("movies_dataset_modificado.csv",converters={'spoken_languages': parse_spoken_languages})


df5.to_csv("movies_dataset_modificado.csv",index= False)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_420\1506268308.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv("movies_dataset_modificado.csv")
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_420\1506268308.py:11: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv("movies_dataset_modificado.csv",converters={'spoken_languages': parse_spoken_languages})

Rellenamos las columnas Budget y Revenue

In [49]:
### Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0.




df6 = pd.read_csv("movies_dataset_modificado.csv")

df6["budget"] = df6["budget"].fillna(0)
df6["revenue"] = df6["revenue"].fillna(0)
#df6["budget"].notna().value_counts()
#df6["revenue"].notna().value_counts()
#df6.info()
df6.to_csv("movies_dataset_modificado.csv", index=False)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_420\663481352.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv("movies_dataset_modificado.csv")

Uno los datasets movies y credits /
Este paso no se puede realizar sin el archivo credits.csv que no puedo subir a git, sin embargo no afecta en nada al desarrollo del resto de las transformaciones. Es la unica transformación adicional que tuve que realizar

In [50]:

df_credits = pd.read_csv("credits.csv")
df_modificado = pd.read_csv("movies_dataset_modificado.csv")
df_credits.isna().value_counts()

df_modificado["id"].isna().value_counts()
df_modificado = df_modificado[pd.to_numeric(df_modificado["id"], errors='coerce').notnull()]
df_modificado["id"] = df_modificado["id"].astype("Int64")

df_combined = pd.merge(df_modificado, df_credits, on= "id")
df_combined["release_date"].isnull().value_counts()

## Realizo la transformacion sobre la columna crew por 2 motivos.
#  1) para poder quedarme con el nombre del director
#  2) Para poder ahorrar espacio.

df_combined['crew'] = df_combined['crew'].apply(ast.literal_eval)
df_combined['crew'] = df_combined['crew'].apply(lambda x: [member['name'] for member in x if member['job'] == 'Director'][0] if any(member['job'] == 'Director' for member in x) else '')

## elimino la columna CAST por un tema de espacio
df_combined = df_combined.drop(columns=["cast"])

## Guardo el dataset

df_combined.to_csv("movies_dataset_modificado.csv", index=False)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_420\1864697361.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_modificado = pd.read_csv("movies_dataset_modificado.csv")

Eliminamos los valores nulos del campo realease_date

In [51]:
df7 = pd.read_csv("movies_dataset_modificado.csv")
df7["release_date"].info()
df7 = df7.dropna(subset=["release_date"])
df7.to_csv("movies_dataset_modificado.csv", index=False)

<class 'pandas.core.series.Series'>
RangeIndex: 45538 entries, 0 to 45537
Series name: release_date
Non-Null Count  Dtype
--------------  -----
45451 non-null  object
dtypes: object(1)
memory usage: 355.9+ KB

Creo la columna Realease year y convierto las fechas a formato AAAA-mm-dd

In [52]:
df8 = pd.read_csv("movies_dataset_modificado.csv")
df8["release_date"].info()
### Creo la columna RELEASE YEAR

df8["release_year"] = df8["release_date"].str[:4]
df8["release_year"] = df8["release_year"].fillna(0).astype(int)
### LUEGO ME ASEGURO QUE TODAS LAS FECHAS ESTEN EN FORMATO AAAA-mm-dd
df8["release_date"] = pd.to_datetime(df8["release_date"], format="%Y-%m-%d", errors="coerce")

df8.to_csv("movies_dataset_modificado.csv", index=False)

<class 'pandas.core.series.Series'>
RangeIndex: 45451 entries, 0 to 45450
Series name: release_date
Non-Null Count  Dtype
--------------  -----
45451 non-null  object
dtypes: object(1)
memory usage: 355.2+ KB

Creo la columna return = (revenue / budget)

In [53]:

df9 = pd.read_csv("movies_dataset_modificado.csv")
df9["return"] = np.where((df9["revenue"] == 0) | (df9["budget"] == 0), 0, df9["revenue"] / df9["budget"])
df9[["budget","revenue","return"]]
df9.to_csv("movies_dataset_modificado.csv", index=False)